:root,
page {
  --du-calendar-primary: var(--du-primary-color);
  --du-calendar-container-bg-color: rgba(32, 36, 38, 0.06);
  --du-calendar-normal-text-color: #202426;
  --du-calendar-main-container-bg-color: #fff;
  --du-calendar-disabled-text-color: rgba(32, 36, 38, 0.2);
  --du-calendar-normal-bg-color: rgba(32, 36, 38, 0.06);
  --du-calendar-active-text-color: var(--du-primary-color);
  --du-calendar-cancle-button-text-color: rgba(32, 36, 38, 0.8);
  --du-calendar-confirm-button-text-color: #fff;
  --du-calendar-disable-button-text-color: #fff;
  --du-calendar-disable-button-bg-color: rgba(32, 36, 38, 0.06);
}
