:root,
page {
  --du-sort-tab-item-unselect-color: rgba(0, 0, 0, 0.64);
  --du-sort-tab-item-selected-color: rgba(124, 102, 255, 1);
  --du-sort-tab-item-selected-bottom-line-color: rgba(43, 38, 59, 1);
  --du-sort-tab-item-divide-color: rgba(0, 0, 0, 0.12);
}
