.du-card {
  box-sizing: border-box;
  width: 365px;
  background: #fff;
  margin: 0 5px;
  border-radius: 4px;

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 8px;
    padding: 12px 12px 0 12px;
  }

  &__left {
    display: flex;
    align-items: center;
  }

  &__right {
    display: flex;
    align-items: center;
  }

  &__guide {
    display: flex;
    align-items: center;
    margin-left: 8px;
  }

  &__title {
    font-size: 14px;
    font-weight: 500;
    margin-right: 8px;

    &--large {
      font-size: 16px;
    }
  }

  &__subtitle {
    font-size: 12px;
    color: rgba(0, 0, 0, 0.4);
  }

  &__guide-text {
    font-weight: 500;
    font-size: 12px;
    color: rgba(0, 0, 0, 0.4);
    margin-right: 2px;
  }

  &__info {
    display: flex;
    align-items: center;
    margin-left: 8px;
  }

  &__action {
    margin-left: 8px;
  }

  &__info-text {
    margin-left: 4px;
    font-weight: 500;
    font-size: 12px;
    color: #2b263b;
  }

  &__content {
    padding: 0 12px 12px 12px;
  }
}
