.du-icon-button {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  &-text {
    font-weight: 500;
  }

  &--large {
    width: 44px;
    height: 44px;
  }

  &-text--large {
    font-size: 12px;
    line-height: 18px;
  }

  &--medium {
    width: 40px;
    height: 40px;
  }

  &-text--medium {
    font-size: 11px;
    margin-top: 2px;
    line-height: 13px;
  }

  &--normal {
    width: 36px;
    height: 36px;
  }

  &-text--normal {
    font-size: 10px;
    margin-top: 4px;
    line-height: 11px;
  }

  &--small {
    width: 32px;
    height: 32px;
  }

  &-text--small {
    font-size: 10px;
    margin-top: 4px;
    line-height: 11px;
  }

  &--mini {
    width: 28px;
    height: 28px;
  }

  &-text--mini {
    font-size: 10px;
    line-height: 11px;
  }
}