
@font-face {
  font-family: 'dangoui-icon';
  src: url('https://assets.qiandaocdn.com/icons/fa39c51acaa84886340f76042d14ae2a.eot'); /* IE9 */
  src: url('https://assets.qiandaocdn.com/icons/fa39c51acaa84886340f76042d14ae2a.eot#iefix') format('embedded-opentype'),
    /* IE6-IE8 */ url('https://assets.qiandaocdn.com/icons/fa39c51acaa84886340f76042d14ae2a.woff2') format('woff2'),
    url('https://assets.qiandaocdn.com/icons/fa39c51acaa84886340f76042d14ae2a.woff') format('woff'),
    url('https://assets.qiandaocdn.com/icons/fa39c51acaa84886340f76042d14ae2a.ttf') format('truetype'),
    url('https://assets.qiandaocdn.com/icons/fa39c51acaa84886340f76042d14ae2a.svg#iconfont') format('svg');
}
