
@font-face {
  font-family: 'dangoui-icon';
  src: url('https://assets.qiandaocdn.com/icons/d91ecb781c056cca69923425e2bf6bf3.eot'); /* IE9 */
  src: url('https://assets.qiandaocdn.com/icons/d91ecb781c056cca69923425e2bf6bf3.eot#iefix') format('embedded-opentype'),
    /* IE6-IE8 */ url('https://assets.qiandaocdn.com/icons/d91ecb781c056cca69923425e2bf6bf3.woff2') format('woff2'),
    url('https://assets.qiandaocdn.com/icons/d91ecb781c056cca69923425e2bf6bf3.woff') format('woff'),
    url('https://assets.qiandaocdn.com/icons/d91ecb781c056cca69923425e2bf6bf3.ttf') format('truetype'),
    url('https://assets.qiandaocdn.com/icons/d91ecb781c056cca69923425e2bf6bf3.svg#iconfont') format('svg');
}
