
@font-face {
  font-family: 'dangoui-icon';
  src: url('https://assets.qiandaocdn.com/icons/204da7092d3f07665e04395f56fe8198.eot'); /* IE9 */
  src: url('https://assets.qiandaocdn.com/icons/204da7092d3f07665e04395f56fe8198.eot#iefix') format('embedded-opentype'),
    /* IE6-IE8 */ url('https://assets.qiandaocdn.com/icons/204da7092d3f07665e04395f56fe8198.woff2') format('woff2'),
    url('https://assets.qiandaocdn.com/icons/204da7092d3f07665e04395f56fe8198.woff') format('woff'),
    url('https://assets.qiandaocdn.com/icons/204da7092d3f07665e04395f56fe8198.ttf') format('truetype'),
    url('https://assets.qiandaocdn.com/icons/204da7092d3f07665e04395f56fe8198.svg#iconfont') format('svg');
}
