
@font-face {
  font-family: 'dangoui-icon';
  src: url('https://assets.qiandaocdn.com/icons/2c73ce399f3eb3a9c649c6792fd8f82c.eot'); /* IE9 */
  src: url('https://assets.qiandaocdn.com/icons/2c73ce399f3eb3a9c649c6792fd8f82c.eot#iefix') format('embedded-opentype'),
    /* IE6-IE8 */ url('https://assets.qiandaocdn.com/icons/2c73ce399f3eb3a9c649c6792fd8f82c.woff2') format('woff2'),
    url('https://assets.qiandaocdn.com/icons/2c73ce399f3eb3a9c649c6792fd8f82c.woff') format('woff'),
    url('https://assets.qiandaocdn.com/icons/2c73ce399f3eb3a9c649c6792fd8f82c.ttf') format('truetype'),
    url('https://assets.qiandaocdn.com/icons/2c73ce399f3eb3a9c649c6792fd8f82c.svg#iconfont') format('svg');
}
