.du-input-number {
  display: flex;
  flex-shrink: 0;
  align-items: center;
  color: var(--du-text-1);

  &__input {
    width: 44px;
    padding: 0 8px;

    font-size: 16px;
    line-height: 1;

    border-top: 1px solid var(--du-bg-4);
    border-bottom: 1px solid var(--du-bg-4);

    overflow: hidden;

    &--mini {
      height: 24px;
    }

    &--small {
      height: 28px;
    }

    &--normal {
      height: 32px;
    }

    &--medium {
      height: 36px;
    }

    &--large {
      height: 40px;
    }
  }

  &__input-el {
    outline: none;
    background: transparent;
    border: none;
    height: 100%;
    width: 100%;
    text-align: center;
    font-size: 14px;
  }

  &__value {
    min-width: 44px;
    padding: 0 8px;
    font-size: 14px;
    color: var(--du-text-1);

    text-align: center;

    &--disabled {
      background: var(--du-bg-4);
    }

    &--mini {
      height: 24px;
      line-height: 24px;
    }

    &--small {
      height: 28px;
      line-height: 28px;
    }

    &--normal {
      height: 32px;
      line-height: 32px;
    }

    &--medium {
      height: 36px;
      line-height: 36px;
    }

    &--large {
      height: 40px;
      line-height: 40px;
    }
  }

  &__item {
    position: relative;

    display: flex;
    align-items: center;
    justify-content: center;

    width: 20px;
    height: 20px;

    border-radius: 4px;
    background: var(--du-bg-4);
    color: var(--du-icon-1);

    font-size: 8px;
    user-select: none;

    &--disabled {
      background: var(--du-bg-4);
      color: var(--du-icon-disabled);
    }

    &--mini {
      width: 24px;
      height: 24px;
    }

    &--small {
      width: 28px;
      height: 28px;
    }

    &--normal {
      width: 32px;
      height: 32px;
    }

    &--medium {
      width: 36px;
      height: 36px;
    }

    &--large {
      width: 40px;
      height: 40px;
    }

    &--left-with-input {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }

    &--right-with-input {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }

    &--highlight {
      background-color: var(--du-in-solid-bg);
      color: var(--du-in-solid-color);
    }

    &--highlight-disabled {
      background-color: var(--du-in-solid-disabledtemp-bg);
      color: var(--du-in-solid-disabledtemp-color);
    }
  }
}
