.du-search {
  --du-icon-size: 16px;
  background-color: var(--du-c-bg-2);
  padding: 7px 12px;
  display: flex;
  align-items: center;
  column-gap: 8px;
  border-radius: 8px;
  overflow: hidden;
  line-height: 1em;
  height: 32px;

  &__input {
    height: 18px;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    flex: auto;
    width: 0;
    position: relative;
  }

  &__input-inner {
    width: 100%;
    height: 100%;
    outline: none;
    color: black;
    background-color: transparent;

    &--readonly {
      // TODO: 随便写个颜色
      color: #625e76;
    }
  }

  &__rolling-text {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    // TODO: 随便写个颜色
    color: #625e76;
    display: flex;
    flex-direction: column;
  }

  &__rolling-text-item {
    width: 100%;
    height: 18px;
    line-height: 18px;
  }

  &__left {
    flex: none;
    color: #625e76;
  }

  &__right {
    display: flex;
    align-items: center;
    column-gap: 8px;
    flex: none;
    height: 100%;
    color: #918b9f;

    &:empty {
      display: none;
    }

    & > du-search-right {
      height: 100%;
    }
  }

  &__close {
    color: #d4d0da;
  }
}
