.du-checkbox__checkbox {
  box-sizing: border-box;
  position: relative;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;

  border: 1px solid rgba(0, 0, 0, 0.16);
  background: rgba(255, 255, 255, 0.64);

  &--selected {
    border: none;
    background-color: var(--du-checkbox-bg);
    color: var(--du-checkbox-color);
  }

  &--square {
    border-radius: 0;
  }
}

.du-checkbox__icon {
  transform: scale(0.55);
}
