.du-checkbox {
  display: flex;
  align-items: center;
  column-gap: 4px;

  font-size: 14px;
  line-height: 24px;

  &__label {
    flex: 1 0 0;
  }

  &--left {
    flex-direction: row-reverse;
  }

  &--inline {
    display: inline-flex;
    width: auto;
  }

  &--disabled {
    opacity: 0.6;
  }
}

.du-checkbox-group {
  display: flex;
  flex-direction: column;
  row-gap: 8px;

  &--inline {
    display: flex;
    flex-direction: row;
    align-items: center;
    row-gap: 0;
    column-gap: 6px;
  }
}

.du-checkbox__checkbox {
  box-sizing: border-box;
  position: relative;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;

  border: 1px solid rgba(0, 0, 0, 0.24);

  &--selected {
    border: none;
    background-color: var(--du-color-main);
  }

  &--square {
    border-radius: 0;
  }
}
