.du-select {
  &__option {
    padding: 12px 15px;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    display: flex;
    justify-content: space-between;

    &--disabled {
      color: var(--du-text-disabled);
    }
  }

  &__options {
    height: 300px;
  }

  &__tags {
    margin: 8px 0;
  }
}
