.du-calendar {
  font-size: 16px;

  &__header {
    display: flex;
    align-items: center;
    position: relative;
    justify-content: space-between;
    padding: 0 15px;
  }

  &__title {
    color: #202426;
    font-size: 16px;
    font-weight: bold;
    padding: 12px;
    line-height: 24px;
  }

  &__clear {
    width: 50px;
    font-size: 14px;
    font-weight: 500;
    line-height: 24px;
    color: rgba(0, 0, 0, 0.64);
  }

  &__close {
    width: 50px;
    font-size: 16px;
    color: #918b9f;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  &__main {
    position: relative;
    background: #fff;
  }

  &__week {
    display: flex;
    column-gap: 2px;
    padding: 0 6px;
    height: 38px;
    margin-bottom: 8px;
  }

  &__week-item {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;

    &--highlight {
      color: var(--du-primary-color);
    }
  }

  &__item {
    padding-right: 2px;

    &--last {
      padding-right: 0px;
    }

    &--range {
      background-color: var(--du-primary-soft-bg);
    }

    &--bl {
      border-top-left-radius: 8px;
      border-bottom-left-radius: 8px;
      background-color: var(--du-primary-soft-bg);
    }

    &--br {
      border-top-right-radius: 8px;
      border-bottom-right-radius: 8px;
      background-color: var(--du-primary-soft-bg);
    }

    &--range-solid {
      background-color: var(--du-primary-solid-bg);
    }
  }

  &__item-inner {
    width: 50px;
    height: 50px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: 500;

    &--selected {
      background: var(--du-primary-solid-bg);
      color: var(--du-primary-solid-color);
    }

    &--range-selected {
      background: var(--du-primary-soft-bg);
      color: var(--du-primary-color);
    }

    &--range-bl {
      border-top-right-radius: 0px;
      border-bottom-right-radius: 0px;
      background: var(--du-primary-solid-bg);
      color: var(--du-primary-solid-color);
    }

    &--range-br {
      border-top-left-radius: 0px;
      border-bottom-left-radius: 0px;
      background: var(--du-primary-solid-bg);
      color: var(--du-primary-solid-color);
    }

    &--disabled {
      color: rgba(16, 16, 16, 0.16);
      font-weight: 400;
    }
  }

  &__month {
    background: rgba(16, 16, 16, 0.04);
    color: rgba(16, 16, 16, 0.64);
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    padding: 0 15px;
    height: 32px;
    display: flex;
    align-items: center;
    margin-bottom: 8px;
    width: 100%;
  }

  &__container {
    width: auto;
    overflow: auto;
    height: 427px;
    background: #fff;

    &--range-picker {
      height: 280px;
    }

    &--picker {
      height: 321px;
    }
  }

  &__month-container {
    margin-bottom: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__dates-row {
    display: flex;
    margin-bottom: 4px;

    &--last {
      margin-bottom: 0px;
    }
  }

  &--button {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #fff;
    padding: 5px 15px 5px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &--button-right {
    min-width: 102px;
  }

  &__sub {
    font-size: 10px;
    color: var(--du-primary-solid-color);
  }

  &__time {
    box-shadow: 0px -4px 12px 0px rgba(0, 0, 0, 0.04);
  }

  &__time-header {
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    display: flex;
    justify-content: space-between;
    padding: 12px 15px;
    align-items: center;
  }

  &__time-title {
    flex: 1;
    text-align: center;
  }

  &__disp {
    display: flex;
    align-items: center;
    font-size: 12px;
    font-weight: 500;
    line-height: 18px;
    color: #000;
  }

  &__disp-title {
    margin-right: 8px;
  }

  &__disp-none {
    color: rgba(0, 0, 0, 0.4);
    font-weight: 400;
  }
}
