.du-notice-bar {
  padding: 13px 12px;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--du-c-notice-bar-bg);
  color: var(--du-c-notice-bar);
  column-gap: 8px;
  width: 100%;

  &__v {
    display: flex;
    flex-direction: column;
    flex: auto;
    row-gap: 8px;
    width: 100%;
  }

  &__v-close {
    flex: none;
  }

  &__left {
    flex: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 8px;
    width: calc(100% - 24px - 8px);
  }

  &__right {
    flex: none;
  }

  &__link {
    font-weight: 500;
    align-items: center;
    display: flex;
    column-gap: 2px;
    white-space: nowrap;
  }

  &__text {
    display: flex;
    align-items: flex-start;
    column-gap: 16px;
    overflow: hidden;
  }

  &__text-inner {
    flex: auto;
    display: flex;
    width: 100%;
  }

  &__text-content {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  &__left-icon {
    height: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 4px;
  }
}
