.du-dialog {
  width: 271px;

  &__content {
    padding-bottom: 8px;

  }

  &__content::-webkit-scrollbar {
    display: none;
  }

  &__container {
    padding: 0 20px;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
  }

  &__footer {
    display: flex;
    align-items: center;
    padding-bottom: 20px;
    gap: 8px;
    margin-top: 8px;

  }

  &__button {
    width: 100%;
    &-item {
      flex: 1;
      width: 100%;
    }
    &--horizontal {
      flex-wrap: nowrap;
      flex-direction: row;
      justify-content: center;
    }

    &--vertical {
      flex-direction: column-reverse;
    }
  }
}