
@font-face {
  font-family: 'dumpling-icon';
  src: url('https://cdn.qiandaoapp.com/icons/aeb7966b05189975faee6d24ea6260fe.eot'); /* IE9 */
  src: url('https://cdn.qiandaoapp.com/icons/aeb7966b05189975faee6d24ea6260fe.eot#iefix') format('embedded-opentype'),
    /* IE6-IE8 */ url('https://cdn.qiandaoapp.com/icons/aeb7966b05189975faee6d24ea6260fe.woff2') format('woff2'),
    url('https://cdn.qiandaoapp.com/icons/aeb7966b05189975faee6d24ea6260fe.woff') format('woff'),
    url('https://cdn.qiandaoapp.com/icons/aeb7966b05189975faee6d24ea6260fe.ttf') format('truetype'),
    url('https://cdn.qiandaoapp.com/icons/aeb7966b05189975faee6d24ea6260fe.svg#iconfont') format('svg');
}
