
@font-face {
  font-family: 'dumpling-icon';
  src: url('https://cdn.qiandaoapp.com/icons/1be14ff926162b85f0efae0aed93b2bf.eot'); /* IE9 */
  src: url('https://cdn.qiandaoapp.com/icons/1be14ff926162b85f0efae0aed93b2bf.eot#iefix') format('embedded-opentype'),
    /* IE6-IE8 */ url('https://cdn.qiandaoapp.com/icons/1be14ff926162b85f0efae0aed93b2bf.woff2') format('woff2'),
    url('https://cdn.qiandaoapp.com/icons/1be14ff926162b85f0efae0aed93b2bf.woff') format('woff'),
    url('https://cdn.qiandaoapp.com/icons/1be14ff926162b85f0efae0aed93b2bf.ttf') format('truetype'),
    url('https://cdn.qiandaoapp.com/icons/1be14ff926162b85f0efae0aed93b2bf.svg#iconfont') format('svg');
}
