
@font-face {
  font-family: 'dumpling-icon';
  src: url('https://cdn.qiandaoapp.com/icons/3f8a43a4bbd58f833c5e391e4744ba32.eot'); /* IE9 */
  src: url('https://cdn.qiandaoapp.com/icons/3f8a43a4bbd58f833c5e391e4744ba32.eot#iefix') format('embedded-opentype'),
    /* IE6-IE8 */ url('https://cdn.qiandaoapp.com/icons/3f8a43a4bbd58f833c5e391e4744ba32.woff2') format('woff2'),
    url('https://cdn.qiandaoapp.com/icons/3f8a43a4bbd58f833c5e391e4744ba32.woff') format('woff'),
    url('https://cdn.qiandaoapp.com/icons/3f8a43a4bbd58f833c5e391e4744ba32.ttf') format('truetype'),
    url('https://cdn.qiandaoapp.com/icons/3f8a43a4bbd58f833c5e391e4744ba32.svg#iconfont') format('svg');
}
