.du-radio-group {
  display: flex;
  flex-direction: column;
  row-gap: 8px;

  &--inline {
    display: flex;
    flex-direction: row;
    align-items: center;
    row-gap: 0;
  }

  &--custom {
    display: block;
    align-items: start;
  }
}
