
@font-face {
  font-family: 'dumpling-icon';
  src: url('https://assets.qiandaocdn.com/icons/2ae3e95d63889c0b050b2d12ed180e95.eot'); /* IE9 */
  src: url('https://assets.qiandaocdn.com/icons/2ae3e95d63889c0b050b2d12ed180e95.eot#iefix') format('embedded-opentype'),
    /* IE6-IE8 */ url('https://assets.qiandaocdn.com/icons/2ae3e95d63889c0b050b2d12ed180e95.woff2') format('woff2'),
    url('https://assets.qiandaocdn.com/icons/2ae3e95d63889c0b050b2d12ed180e95.woff') format('woff'),
    url('https://assets.qiandaocdn.com/icons/2ae3e95d63889c0b050b2d12ed180e95.ttf') format('truetype'),
    url('https://assets.qiandaocdn.com/icons/2ae3e95d63889c0b050b2d12ed180e95.svg#iconfont') format('svg');
}
