
@font-face {
  font-family: 'dumpling-icon';
  src: url('https://cdn.qiandaoapp.com/icons/21367b2df45d8c5b26f882756cfaa4cc.eot'); /* IE9 */
  src: url('https://cdn.qiandaoapp.com/icons/21367b2df45d8c5b26f882756cfaa4cc.eot#iefix') format('embedded-opentype'),
    /* IE6-IE8 */ url('https://cdn.qiandaoapp.com/icons/21367b2df45d8c5b26f882756cfaa4cc.woff2') format('woff2'),
    url('https://cdn.qiandaoapp.com/icons/21367b2df45d8c5b26f882756cfaa4cc.woff') format('woff'),
    url('https://cdn.qiandaoapp.com/icons/21367b2df45d8c5b26f882756cfaa4cc.ttf') format('truetype'),
    url('https://cdn.qiandaoapp.com/icons/21367b2df45d8c5b26f882756cfaa4cc.svg#iconfont') format('svg');
}
