
@font-face {
  font-family: 'dumpling-icon';
  src: url('https://assets.qiandaocdn.com/icons/32dafb168aaedacfa3a8060e987867be.eot'); /* IE9 */
  src: url('https://assets.qiandaocdn.com/icons/32dafb168aaedacfa3a8060e987867be.eot#iefix') format('embedded-opentype'),
    /* IE6-IE8 */ url('https://assets.qiandaocdn.com/icons/32dafb168aaedacfa3a8060e987867be.woff2') format('woff2'),
    url('https://assets.qiandaocdn.com/icons/32dafb168aaedacfa3a8060e987867be.woff') format('woff'),
    url('https://assets.qiandaocdn.com/icons/32dafb168aaedacfa3a8060e987867be.ttf') format('truetype'),
    url('https://assets.qiandaocdn.com/icons/32dafb168aaedacfa3a8060e987867be.svg#iconfont') format('svg');
}
