.du-icon {
  font-family: 'dumpling-icon' !important;
  font-style: normal;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: var(--du-icon-size, 1em);

  &__img {
    width: var(--du-icon-size, 1em);
    height: var(--du-icon-size, 1em);
  }
}
